body {
    font-family: Arial, sans-serif; /* Cambiar el tipo de letra */
    text-align: center; /* Centrar el contenido */
}

footer {
    font-size: 12px;
    margin-top: 30px;
    margin-bottom: 30px;
    color: #999999;
}

h1 {
    color: #B51309;
}

input[type="text"] {
    width: 400px; /* Cambiar el ancho del campo de entrada */
    height: 24px;
}

button[type="submit"] {
    width: 150px; /* Cambiar el ancho del botón */
    height: 30px;
    background-color: #B51309; /* Cambiar el color de fondo del botón */
    color: #FFFFFF; /* Cambiar el color del texto del botón */
    border: none; /* Quitar el borde */
}

div#results {
    margin-top: 20px; /* Separar los resultados de la búsqueda */
    text-align: center; /* Alinear a la izquierda */
}

div.errors {
    color: #FF0000; /* Cambiar el color del texto de error */
}


/*
CARDS css
https://www.w3schools.com/howto/howto_css_column_cards.asp
*/



span.title {
    font-size: 14px;
    font-weight: bold;
    line-height: 0px;
    color: chocolate;

}

span.title a {
    color: chocolate;
    text-decoration: none;
}

span.description {
    font-size: 12px;
    line-height: 0px;
    color: cadetblue;
}

span.price {
    font-size: 14px;
    font-weight: bold;
    line-height: 0px;
}

/* Float four columns side by side */
.column {
  float: left;
  width: 18%;
  padding: 0 10px;
}


/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the counter cards */
.card {
    position: relative;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
    padding: 16px;
    text-align: center;
    background-color: #FFFFFF;
    min-height: 310px;
    margin-bottom: 20px;
}

.image-container {
    position: absolute; /* Añade posición absoluta a la imagen pequeña */
    top: 0; /* Coloca la imagen en la parte superior */
    left: 0; /* Coloca la imagen en la parte izquierda */
    margin: 10px;
    align-self: flex-start; /* Coloca la imagen en la esquina superior izquierda */
}

.corner-image {
    width: 50px;
}

div#title {
    min-height: 50px;
}


/* Responsive columns - one column layout (vertical) on small screens */
@media screen and (max-width: 600px) {
      .column {
        width: 100%;
        display: block;
        margin-bottom: 20px;
      }

    .image-container {
        position: static;
        margin-bottom: 0; /* Elimina el espacio inferior en pantallas más grandes */
        margin-right: 10px; /* Agrega espacio a la derecha de la imagen */
    }
}



