<!DOCTYPE html>
<html lang="en">
<head>
    <title>Supermarket comparative prices app</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <!-- Agrega el favicon en los siguientes formatos -->
    <link rel="apple-touch-icon" sizes="57x57" href="../static/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="../static/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="../static/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="../static/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="../static/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="../static/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="../static/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="../static/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="../static/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="../static/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../static/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="../static/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../static/favicon/favicon-16x16.png">
    <link rel="manifest" href="../static/favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="../static/favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
</head>
<body>
    <header>
        <img src="/static/imagen_cabecera.png" alt="Imagen de Cabecera" width="500">
    </header>
    <main>
        <h1>Supermarket comparative prices</h1>
        <form method="POST" action="/search">
            <input type="text" id="query" name="query" placeholder="Name product" value="{{ query }}" />
            <br /><br />
            <button type="submit">SEARCH</button>
        </form>
        <p>&nbsp;</p>
        <div id="results">
            {{ results|safe }}
        </div>
        <div id="errors">
            {{ errors|safe }}
        </div>
    </main>
    <footer>
        <p>&copy; 2023 - Supermarket comparative prices app by Lucía Blanc & Sergio Sánchez</p>
    </footer>
    <script>
        function clean() {
            document.getElementById("results").innerHTML = "Searching products, please wait...";
            document.getElementById("errors").innerHTML = "";
        }
        window.onload = function() {
            const form = document.querySelector('form');
            form.onsubmit = clean;
        };
    </script>
</body>
</html>